
      /* Style the button */
      button {
        font-size: 24px; /* Increase font size */
        padding: 12px 24px; /* Increase padding */
        border: 2px solid #555; /* Add border */
        border-radius: 8px; /* Add rounded corners */
        background-color: #6f7070; /* Change background color */
        color: black(161, 155, 155); /* Change text color */
        cursor: pointer; /* Change cursor to hand */
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
      }
      
      
      /* Hover effect */
      button:hover {
        background-color: #8f9091; /* Change background color on hover */
      }
